<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="tema-link" rel="stylesheet" href="/css/{{tema}}.css">
    <title>Document</title>
</head>
<body style="display: block;">
    <p>
        {{linguagem.nomeUsuarioAtual}}{{nome}}
    </p>
    <p>
        {{linguagem.temaAtual}}{{tema}}
    </p>
    <p>
        {{linguagem.linguagemAtual}}{{linguagem.linguagem}}
    </p>

</body>
</html>